<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">
         
    <servlet>
        <servlet-name>Sum</servlet-name>
        <servlet-class>Sum</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Sum</servlet-name>
        <url-pattern>/sum</url-pattern>
    </servlet-mapping>
    
</web-app>
